
<ion-header>
	<ion-toolbar transparent>
		<ion-title>Home</ion-title>
		<ion-buttons end>
			<button ion-button (click)="logout()"><ion-icon name="log-out"> Logout</ion-icon></button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-buttons *ngIf="email == 'admin'">
      <button ion-item *ngFor="let party of parties" (click)="itemSelected(party)">
        {{ party.address }}
      </button>
    </ion-buttons>

    <ng-container *ngIf="email != 'admin'"> 
      <ion-buttons  *ngFor="let party of parties">
        <button ion-item *ngIf="party.userinfo[0].notification == ''" (click)="itemSelected(party)">
          {{ party.address }}
        </button>
        <button ion-item *ngIf="party.userinfo[0].notification != ''" (click)="itemSelected(party)">
          <p style="color:red">(Warned) </p>
          {{ party.address }}
        </button>
      </ion-buttons>
    </ng-container>
  </ion-list>

  <ion-buttons *ngIf="email != 'admin'">
    <button ion-button full (click)="addParty()">
      Register Party
    </button>
  </ion-buttons>

</ion-content>
