
<ion-header>
	<ion-toolbar transparent>
		<ion-title>Home</ion-title>
		<ion-buttons end>
			<button ion-button (click)="logout()"><ion-icon name="log-out"> Logout</ion-icon></button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-buttons *ngFor="let party of parties">
      <button ion-item *ngIf="party.userinfo[0].notification == ''" (click)="itemSelected(party)">
        {{ party.address }}
      </button>
      <button ion-item *ngIf="party.userinfo[0].notification != ''" (click)="itemSelected(party)">
        <p style="color:red">(Warned) </p>
        {{ party.address }}
      </button>
    </ion-buttons>
  </ion-list>

  <ion-buttons *ngIf="email != 'admin'">
    <button ion-button full (click)="addParty()">
      Register Party
    </button>
  </ion-buttons>

</ion-content>
