
<ion-header>
	<ion-toolbar transparent>
		<ion-title>Home</ion-title>
		<ion-buttons end>
			<button ion-button (click)="logout()"><ion-icon name="log-out"> Logout</ion-icon></button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let party of parties" (click)="itemSelected(party)">
      {{ party.address }}
    </button>
    <ion-item-options>
    </ion-item-options>
  </ion-list>
  <ion-item *ngIf="email != 'admin'">
    <button ion-button full (click)="addParty()">
      Register Party
    </button>
  </ion-item>

</ion-content>
